.header-container img{
    width: 250px;
    border-radius: 50%;
    margin-top: 160px;
}
.header-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    /* background-color: red; */
}
.resume-button{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 100px;
    padding: 15px 23px;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    background-color: grey;
    transition: 0.3s;
}
.resume-button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .header-container img{
        margin-top: 150px;
        width: 260px;
    }
    .header-container h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .header-container p{
        width: 66%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .resume-button{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
}
