.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;       
    padding: 20px 0;          
    background-color: black;
    z-index: 1000;            
}

.nav-menu{
    display: flex;
    list-style: none;
    /* color: black; */
    gap: 60px;
    font-size: 20px;

}
.navbar ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.nav-menu li a:hover{
    color: gray;
    cursor: pointer;
}
.nav-connect{
    padding: 15px 30px;
    border-radius: 50px;
    /* background-color: #009900; */
    cursor: pointer;
    background: linear-gradient(160deg, #009900, #ddbb22);
    font-size: 22px;
    transition: 0.3s;
}
.nav-connect:hover{
    transform: scale(1.1);
}
.nav-sidebar{
    width: 30px;
    display: none;
}
.nav-close{
    display: none;
}
@media(max-width:600px){
    .nav-connect{
        display: none;
    }
    .nav-sidebar{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-close{
        display: block;
        position: relative;
        top:25px;
        left: 290px;
        right: 20px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: black;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 40px;
        flex-direction: row;
        gap: 20px;
    }
}
.anchor-link{
    text-decoration: none;
}
.nav-menu li.active .anchor-link{
  color: yellow;       
  cursor: pointer;
}
