.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}
.nav-menu{
    display: flex;
    list-style: none;
    color: black;
    gap: 60px;
    font-size: 20px;
    
}
.nav-menu a{
    text-decoration: none;
    color: white;
}
.nav-connect{
    padding: 15px;
    border-radius: 50px;
    /* background-color: #009900; */
    cursor: pointer;
    background: linear-gradient(160deg, #009900, #ddbb22);
    font-size: 20px;
    transition: 0.5sec;
}
.nav-connect:hover{
    transform: scale(1.02);
}