.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    background-color: #0F172A; /* Dark blue background */
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-left p {
    font-size: 20px;
    max-width: 400px;
    color: #D1D5DB; /* Light gray text */
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #1E293B; /* Dark input background */
    padding-right: 80px;
    transition: 0.3s;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #E5E7EB; /* Light gray input text */
    font-family: Outfit;
    font-size: 18px;
    transition: 0.3s;
}

.footer-email-input img {
    width: 20px;
}

.footer-email-input:hover {
    background-color: #32323B; /* Slightly lighter dark on hover */
}

.footer-subscribe {
    font-size: 20px;
    padding: 22px;
    border-radius: 50px;
    background: linear-gradient(to right, #2563EB, #3B82F6); /* Blue gradient */
    color: #FFFFFF; /* White text */
    cursor: pointer;
    transition: 0.3s;
}

.footer-subscribe:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #1D4ED8, #2563EB); /* Darker gradient on hover */
    transition: 0.3s;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #D1D5DB; /* Light gray text */
}

.footer-bottom-right {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

@media(max-width:1024px){
    .footer {
        margin: 10px 20px;
    }
    .footer-top-left {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .footer-email-input input {
        width: 70%;
        font-size: 15px;
    }
    .footer-subscribe {
        font-size: 18px;
        padding: 10px 30px;
    }
    .footer-top {
        flex-direction: column;
        gap: 30px;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
    }
}
